p{
    padding: 0px;
}
.title4{
    height: 12% !important;
}
.allPlace4{
    height: 80%;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.myRow4{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 4px;
    height: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.myRow4 p{
    margin-top: 19px;
    font-size: 16px;
    text-align: center
}
.titleRow4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.8);
    margin-bottom: 10px;
}
.titleRow4 p{
    font-size: 20px;
    text-align: center
}

.myButton4{
    border-radius: 10px !important;
    font-size: 18px !important;
    padding: 10px !important;
    margin: 5px;
    margin-top: 5px !important;
}
.id{
    flex-basis: 20%;
}
.adopter{
    flex-basis: 17%;
}
.dog{
    flex-basis: 10%;
}
.shelter{
    flex-basis: 13%;
}
.date{
    flex-basis: 14%;
}