p{
    padding: 0px;
}
.title1{
    height: 12% !important;
}
.allPlace1{
    height: 80%;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.titleRow{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.8);
    margin-bottom: 10px;
}
.titleRow p {
    font-size: 20px;
    text-align: center;
}

.myRow1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 4px;
    height: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.myRow1 p {
    margin-top: 19px;
    font-size: 16px;
    text-align: center
}

.id{
    flex-basis: 20%;
}
.name-and-surname{
    flex-basis: 20%;
}
.email{
    flex-basis: 22%;
}
.phone{
    flex-basis: 10%;
}
.address{
    flex-basis: 27%;
}