.title{
    font-size: 52px;
    margin-bottom: 18px;
}
p{
    font-size: 18px;
    margin-bottom: 10px !important;

}
.myButton {
    margin-top: 30px !important;
    border-radius: 20px !important;
    padding: 18px !important;
    font-size: 1.8rem !important;
}
.error-message{
    color: red;
}
